email_validator
fastapi
fastapi-cli
huggingface-hub
langchain
langchain-cli
langchain-core
langchain-huggingface
langchain-openai
langchain-pinecone
langchain-text-splitters
langserve
langsmith
libcst
numpy
openai
pandas
pillow
pinecone-client
pydantic
pydantic_core
python-dotenv
python-multipart
regex
requests
sentence-transformers
sentencepiece
tokenizers
torch
transformers
websockets
tomlkit==0.12.2
typer>=0.9,<1.0