body {
    background-color: #f4f7f6;
    margin-top: 20px;
  }
  .card {
    background: #fff;
    transition: 0.5s;
    border: 0;
    margin-bottom: 30px;
    border-radius: 0.55rem;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    min-height: 400px;
  }
  .chat-app .people-list {
    left: 0;
    top: 0;
    padding: 20px;
    z-index: 7;
    overflow: hidden;
    overflow-y: auto;
    max-height: 700px;
    margin-bottom: 5px;
  }

  .chat .chat-history ul li {
    max-width: 500px !important;
}

  .row{
    width: 100% !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
  }

  .container {
    margin-top: 50px;
  }

  .chat-app .chat {
    margin-left: 0px;
    border-left: 1px solid #eaeaea;
  }

  .chat-app {
    flex-direction: row !important;
  }

  .people-list {
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  .people-list .chat-list li {
    padding: 10px 15px;
    list-style: none;
    border-radius: 3px;
  }

  .people-list .chat-list li:hover {
    background: #efefef;
    cursor: pointer;
  }

  .people-list .chat-list li.active {
    background: #efefef;
  }

  .people-list .chat-list li .name {
    font-size: 15px;
  }

  .people-list .chat-list img {
    width: 45px;
    border-radius: 50%;
  }

  .people-list img {
    float: left;
    border-radius: 50%;
  }

  .people-list .about {
    float: left;
    padding-left: 8px;
  }

  .people-list .status {
    color: #999;
    font-size: 13px;
  }

  .chat .chat-header {
    padding: 15px 20px;
    border-bottom: 2px solid #f4f7f6;
    background: #fff7f8;
  }

  .chat .chat-header img {
    float: left;
    border-radius: 40px;
    width: 40px;
  }

  .chat .chat-header .chat-about {
    float: left;
    padding-left: 10px;
  }

  .chat .chat-history {
    padding: 20px;
    border-bottom: 2px solid #fff;
  }

  .chat .chat-history ul {
    padding: 0;
  }

  .chat .chat-history ul li {
    list-style: none;
    margin-bottom: 30px;
  }

  .chat .chat-history ul li:last-child {
    margin-bottom: 0px;
  }

  .chat .chat-history .message-data {
    margin-bottom: 15px;
  }

  .chat .chat-history .message-data img {
    border-radius: 40px;
    width: 40px;
  }

  .chat .chat-history .message-data-time {
    color: #434651;
    padding-left: 6px;
  }

  .chat .chat-history .message {
    color: #444;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display: inline-block;
    position: relative;
  }

  .chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
  }

  .chat .chat-history .my-message {
    background: #efefef;
  }

  .chat .chat-history .my-message:after {
    bottom: 100%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #efefef;
    border-width: 10px;
    margin-left: -10px;
  }

  .chat .chat-history .other-message {
    background: #e8f1f3;
    text-align: right;
  }

  .chat .chat-history .other-message:after {
    border-bottom-color: #e8f1f3;
    left: 93%;
  }

  .chat .chat-message {
    padding: 10px;
    bottom: 0;
  }

  .online,
  .offline,
  .me {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle;
  }

  .online {
    color: #86c541;
  }

  .offline {
    color: #e47297;
  }

  .me {
    color: #1d8ecd;
  }

  .float-right {
    float: right;
  }

  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }

  .hidden-chat {
    background-color: #e9ecef;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .load-conversation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fcfefc;
    z-index: 999;
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
  }

  .chat {
    position: relative;
    min-height: 400px;
    width: 100%;
  }

  .chat .chat-history {
    max-height: 600px;
    position: relative;
  }

  .clearfix{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap !important;
  }

  @media (max-width: 1000px) {
    .chat-app{
        flex-wrap: wrap !important;
    }
    .chat-app .people-list {
        width: 100%;
    }
  }